.body {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flower-genes {
  display: flex;
  flex-direction: row;
}